
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: eclinic-backend
    container_name: eclinic-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - eclinic-network
    depends_on:
      - postgres
      - redis

  nginx:
    image: nginx:alpine
    container_name: eclinic-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - eclinic-network
    depends_on:
      - app

  postgres:
    image: postgres:16-alpine
    container_name: eclinic-postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: eclinic
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - eclinic-network

  redis:
    image: redis:7-alpine
    container_name: eclinic-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - eclinic-network

networks:
  eclinic-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

